/* General Styles */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  font-family: "Tahoma", sans-serif;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #bad7e9;
  margin: 0;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 22rem;
  height: 32rem;
  background: #384b70;
  border-radius: 0.5rem;
  animation: fade-up 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 20rem;
  height: 30rem;
  border-radius: 0.5rem;
  box-shadow: -6px -6px 6px #2d3e5f inset, 6px 6px 6px #2d3e5f inset;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-down 0.5s;
}

.title {
  font-size: 3rem;
  padding: 1.5rem 0;
}

.bulb-icon {
  padding: 0 0 0 0.7rem;
  width: auto;
  height: 3rem;
}

h4 {
  font-size: 1.21rem;
  color: #bad7e9;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 18rem;
  border-radius: 0.5rem;
  background-color: rgb(9, 8, 6);
}

.light-bulb {
  width: 15rem;
  height: auto;
}

/* Switch Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 15rem;
  height: 4rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 0.5rem;
  transition: 0.4s;
  cursor: pointer;
  box-shadow: -3px -3px 5px #6d6d6d inset, 6px 6px 6px #b8b8b8 inset;
  z-index: 2;
}

.slider:before {
  content: "";
  position: absolute;
  height: 3.6rem;
  width: 7.5rem;
  left: 0.1875rem;
  bottom: 0.1875rem;
  background-color: #384b70;
  border-radius: 0.4rem;
  transition: 0.4s;
  box-shadow: -6px -6px 6px #2d3e5f inset, 6px 6px 6px #405887 inset;
  z-index: 3;
}

input:checked + .slider {
  background-color: #ccc;
}

input:checked + .slider:before {
  transform: translateX(7.1rem);
}

.slider-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  width: 50%;
  text-align: center;
  z-index: 1;
}

.slider-text:first-child {
  left: 7.6rem;
}

/* Animation */
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
