/* General Styles */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #222;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  border: none;
  border-radius: 0.5rem;
  background: #f2f2f2;
}

.btn {
  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: 50%;
  color: #074191f8;
  background: #2e8ecdc4;
}